html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --clr-primary: #ffc700;
  --clr-secondary: #10a958;
  --clr-black: #000000;
  --clr-white: #ffffff;
  --transition: 150ms ease-in-out;
  --transition-l: 375ms ease-in-out;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-heading: "Limelight", cursive;
  --clr-light: #eeeeee;
}

body {
  font-family: var(--font-body);
  margin: 0;
}

.container {
  --container-w: 100%;
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: var(--container-w);
}

@media (min-width: 48em) {
  .container {
    --container-w: 48em;
  }
}

@media (min-width: 64em) {
  .container {
    --container-w: 64em;
  }
}

@media (max-width: 47.99875em) {
  .desktop-view {
    visibility: hidden !important;
    display: none !important;
  }
}

@media (min-width: 48em) {
  .mobile-view {
    visibility: hidden !important;
    display: none !important;
  }
}

.font-heading {
  font-family: var(--font-heading) !important;
}
.font-body {
  font-family: var(--font-body) !important;
}

.has-floating-shape {
  position: relative;
}
.has-floating-shape:before {
  --shape-bg: ;
  content: "";
  position: absolute;
  left: 5%;
  top: -15%;
  width: 50%;
  height: 100%;
  z-index: -1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Cmetadata%3E%3Crdf:RDF xmlns:cc='http://web.resource.org/cc/' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Ccc:Work rdf:about=''%3E%3Cdc:title%3Edots square grid 02 pattern%3C/dc:title%3E%3Cdc:description/%3E%3Cdc:subject%3E%3Crdf:Bag%3E%3Crdf:li%3Epattern%3C/rdf:li%3E%3C/rdf:Bag%3E%3C/dc:subject%3E%3Cdc:publisher%3E%3Ccc:Agent rdf:about='http://www.openclipart.org'%3E%3Cdc:title%3EAlan Horkan%3C/dc:title%3E%3C/cc:Agent%3E%3C/dc:publisher%3E%3Cdc:creator%3E%3Ccc:Agent%3E%3Cdc:title%3EAlan Horkan%3C/dc:title%3E%3C/cc:Agent%3E%3C/dc:creator%3E%3Cdc:rights%3E%3Ccc:Agent%3E%3Cdc:title%3EAlan Horkan%3C/dc:title%3E%3C/cc:Agent%3E%3C/dc:rights%3E%3Cdc:date/%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'/%3E%3Ccc:license rdf:resource='http://web.resource.org/cc/PublicDomain'/%3E%3Cdc:language%3Een%3C/dc:language%3E%3C/cc:Work%3E%3Ccc:License rdf:about='http://web.resource.org/cc/PublicDomain'%3E%3Ccc:permits rdf:resource='http://web.resource.org/cc/Reproduction'/%3E%3Ccc:permits rdf:resource='http://web.resource.org/cc/Distribution'/%3E%3Ccc:permits rdf:resource='http://web.resource.org/cc/DerivativeWorks'/%3E%3C/cc:License%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs%3E%3Cpattern height='100' id='dots-square-grid-02' patternContentUnits='userSpaceOnUse' patternUnits='userSpaceOnUse' width='100'%3E%3Cg id='row-1'%3E%3Cellipse cx='5' cy='5' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='15' cy='5' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='25' cy='5' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='35' cy='5' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='45' cy='5' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='55' cy='5' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='65' cy='5' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='75' cy='5' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='85' cy='5' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='95' cy='5' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3C/g%3E%3Cg id='row-2'%3E%3Cellipse cx='5' cy='15' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='15' cy='15' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='25' cy='15' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='35' cy='15' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='45' cy='15' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='55' cy='15' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='65' cy='15' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='75' cy='15' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='85' cy='15' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='95' cy='15' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3C/g%3E%3Cg id='row-3'%3E%3Cellipse cx='5' cy='25' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='15' cy='25' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='25' cy='25' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='35' cy='25' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='45' cy='25' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='55' cy='25' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='65' cy='25' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='75' cy='25' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='85' cy='25' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='95' cy='25' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3C/g%3E%3Cg id='row-4'%3E%3Cellipse cx='5' cy='35' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='15' cy='35' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='25' cy='35' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='35' cy='35' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='45' cy='35' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='55' cy='35' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='65' cy='35' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='75' cy='35' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='85' cy='35' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='95' cy='35' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3C/g%3E%3Cg id='row-5'%3E%3Cellipse cx='5' cy='45' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='15' cy='45' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='25' cy='45' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='35' cy='45' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='45' cy='45' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='55' cy='45' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='65' cy='45' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='75' cy='45' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='85' cy='45' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='95' cy='45' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3C/g%3E%3Cg id='row-6'%3E%3Cellipse cx='5' cy='55' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='15' cy='55' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='25' cy='55' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='35' cy='55' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='45' cy='55' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='55' cy='55' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='65' cy='55' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='75' cy='55' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='85' cy='55' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='95' cy='55' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3C/g%3E%3Cg id='row-7'%3E%3Cellipse cx='5' cy='65' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='15' cy='65' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='25' cy='65' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='35' cy='65' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='45' cy='65' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='55' cy='65' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='65' cy='65' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='75' cy='65' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='85' cy='65' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='95' cy='65' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3C/g%3E%3Cg id='row-8'%3E%3Cellipse cx='5' cy='75' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='15' cy='75' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='25' cy='75' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='35' cy='75' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='45' cy='75' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='55' cy='75' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='65' cy='75' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='75' cy='75' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='85' cy='75' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='95' cy='75' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3C/g%3E%3Cg id='row-9'%3E%3Cellipse cx='5' cy='85' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='15' cy='85' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='25' cy='85' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='35' cy='85' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='45' cy='85' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='55' cy='85' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='65' cy='85' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='75' cy='85' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='85' cy='85' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='95' cy='85' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3C/g%3E%3Cg id='row-10'%3E%3Cellipse cx='5' cy='95' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='15' cy='95' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='25' cy='95' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='35' cy='95' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='45' cy='95' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='55' cy='95' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='65' cy='95' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='75' cy='95' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='85' cy='95' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3Cellipse cx='95' cy='95' rx='1' ry='1' style='fill:%23ffc700;stroke:none;stroke-width:0'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23dots-square-grid-02)' height='100' width='100' x='0' y='0'/%3E%3C/svg%3E");
}

.border-0 {
  border-width: 0 !important;
}
.stop-propagation * {
  pointer-events: none;
}

.overflow-hidden {
  overflow: hidden;
}

/* start::sidemenu */
.sidemenu {
  position: fixed;
  inset: 0;
  transform: translateY(-105%);
  z-index: 100;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  height: 100vh;
  /* overflow: hidden; */
  transition: transform var(--transition-l);
  overflow-y: auto;
}

.sidemenu.show {
  transform: translateY(0%);
}
.sidemenu .main-links {
  margin-block: 1rem;
}
.sidemenu__header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: inherit;
  border-bottom: 3px solid;
}
.sidemenu__wrapper {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.sidemenu .main-links a,
.sidemenu .footer-links a {
  text-decoration: none;
  font-size: 2rem;
  color: inherit;
  display: block;
  padding: 0.5rem 1.25rem;
  transition: background-color var(--transition);
}
.sidemenu .main-links a:hover {
  background-color: var(--clr-light);
}
.sidemenu .footer-links {
  /* margin-top: auto; */
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.sidemenu .footer-links a {
  font-size: 1rem;
}
/* end::sidemenu */

/* start::dropdown */
.dropdown {
  position: relative;
  --menu-w: 15rem;
  z-index: 10;
}
.dropdown__toggler:hover {
  color: inherit;
  background-color: inherit;
}
.dropdown__menu {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 100%;
  inset-inline-start: 0;
  background-color: inherit;
  min-width: var(--menu-w);
  max-width: calc(100vw - 3rem);
  z-index: 20;
  overflow: hidden;
}
.dropdown.end .dropdown__menu {
  inset-inline-start: unset;
  inset-inline-end: 0;
}
.dropdown__menu.show {
  display: block;
  visibility: visible;
}
.dropdown__item {
  --py: 0.625rem;
  --px: 1rem;
  padding: var(--py) var(--px);
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: normal;
  cursor: pointer;
  transition: background-color var(--transition), color var(--transition);
  display: block;
  text-decoration: none;
  font-weight: 500;
}
/* end::dropdown */

/* start::header */
.main-header {
  --nav-btn-size: 40px;
  background-color: var(--header-bg, var(--clr-primary));
  color: var(--header-text);
  z-index: 10;
}
.main-header.revert {
  background-color: var(--header-bg-2, var(--clr-white));
}
.navbar .btn,
.sidemenu .btn {
  background-color: transparent;
  border: 2px solid var(--header-text, var(--clr-black));
  border-radius: 9999px;
  min-width: var(--nav-btn-size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
  gap: 0.35rem;
  color: inherit;
  text-align: center;
  transition: background-color var(--transition), color var(--transition),
    transform var(--transition);
  text-transform: uppercase;
  /* padding-inline: 1.25rem; */
  line-height: normal;
}
.navbar {
  padding-block: 1rem;
}
.navbar .btn:active,
.sidemenu .btn:active {
  transform: scale(0.95);
}
.search-header {
  max-height: 0px;
  overflow: hidden;
  transition: max-height var(--transition-l);
}
.search-header.show {
  max-height: 100px;
}
.search-header .form-control {
  padding: 0.5rem 1rem;
  background-color: var(--header-bg-2, var(--clr-white));
  color: var(--header-text, var(--clr-black));
  font-size: 2rem;
  font-weight: bold;
  border: 0;
  border-bottom: 4px solid var(--header-text, var(--clr-black));
  display: block;
  width: 100%;
  outline: none;
}
.search-header .form-control::placeholder {
  color: var(--header-text, var(--clr-black)) !important;
}
.navbar__logo {
  display: block;
  /* min-height: 18px; */
  margin-inline: auto;
  max-width: 100%;
}
.navbar__links,
.navbar__actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navbar .btn.has-arrow:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  --size: 18px;
  width: var(--size);
  min-width: var(--size);
  height: var(--size);
  display: none;
}
.navbar .btn.dropdown__toggler:hover {
  color: inherit;
  background-color: inherit;
}
.navbar .dropdown__menu {
  border: 2px solid var(--header-text, var(--clr-black));
  border-radius: 10px;
  top: calc(100% + 0.5rem);
  background-color: var(--header-bg-2, var(--clr-white));
  color: var(--header-text, var(--clr-black));
}
.navbar .dropdown__menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: transparent;
  transform: translateY(-0.75rem);
  pointer-events: none;
}
.navbar .dropdown__item:hover {
  background-color: var(--clr-primary);
}
.navbar .btn:hover,
.sidemenu .btn:hover {
  background-color: var(--header-text, var(--clr-black));
  color: var(--header-bg-2, var(--clr-white));
}
.navbar .btn.circle,
.sidemenu .btn.circle {
  width: var(--nav-btn-size);
  height: var(--nav-btn-size);
  padding-inline: 0.5rem;
}
.navbar .btn svg,
.sidemenu .btn svg {
  width: auto;
}

.navbar__actions .btn {
  position: relative;
}
.navbar__actions .btn .cart-count {
  --size: 25px;
  width: var(--size);
  min-width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  background-color: var(--header-text, var(--clr-black));
  color: var(--header-bg-2, var(--clr-white));
  font-size: 0.925rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: calc(100% - 0.75rem);
  inset-inline-start: -0.5rem;
}

.navbar__togglers {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
}

/* end::header */

/* start::hero */
.hero {
  background-color: var(--hero-bg, var(--clr-primary));
  max-width: 100%;
  overflow: hidden;
}
.hero__wrapper {
  padding: 1.5rem 0;
  width: 100%;
  border-bottom: 4px solid var(--hero-text, var(--clr-black));
}
.hero__box {
  --ratio: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  /* border: 4px solid var(--hero-text, var(--clr-black)); */
  aspect-ratio: var(--ratio);
}

.parallelogram,
.parallelogram img {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.heptagon,
.heptagon img {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}
.pentagon,
.pentagon img {
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.rounded,
.rounded img {
  border-radius: 35px;
}
.zigzag,
.zigzag img {
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 0%,
    17% 10%,
    32% 0%,
    49% 9%,
    64% 0%,
    76% 10%,
    88% 0%,
    100% 12%
  );
}
.rhombus,
.rhombus img {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.hexagon,
.hexagon img {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.rightChevron,
.rightChevron img {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.leftChevron,
.leftChevron img {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.ellipse,
.ellipse img {
  clip-path: ellipse(25% 40% at 50% 50%);
}
.trapezoid,
.trapezoid img {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.hero__box {
  background-color: var(--hero-text, var(--clr-black));
}
.hero__box .hero__box-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding: 4px;
}
.hero__box .hero__box-image img {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  object-fit: cover;
  z-index: 1;
}
.hero__box-content {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  white-space: break;
  z-index: 2;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--hero-text, var(--clr-black));
  background-color: var(--clr-white, #ffffff);
  border-radius: 9999px;
  max-width: 95%;
  display: block;
  margin-inline: auto;
  white-space: nowrap;
  opacity: 0;
  transition: opacity var(--transition-l);
}
.hero__box:hover .hero__box-content {
  opacity: 1;
}
.hero__box .swiper {
  justify-content: center;
}
/* end::hero */

/* start::collections */
.collections {
  padding-block: 3.75rem;
  overflow: hidden;
}
.collections__heading {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  line-height: normal;
  margin-inline: auto;
  font-family: var(--font-heading);
  font-weight: normal;
  margin-block: 0 6.25rem;
}
.collections__heading:hover > * {
  transition: opacity var(--transition-l);
  opacity: 0.5;
}
.collections__heading .highlight {
  --clr-text: ;
  color: var(--clr-text, var(--clr-black));
  text-decoration: underline;
  font-weight: bold;
}
.collections__heading .highlight:nth-child(odd) {
  --clr-text: var(--clr-primary);
}
.collections__heading .highlight:nth-child(even) {
  --clr-text: var(--clr-secondary);
}
.collections__heading:hover .highlight {
  opacity: 1;
  /* font-style: italic; */
}

.collections__row {
  --repeat: 2;
  --gap: 1.25rem;
  display: grid;
  grid-template-columns: repeat(var(--repeat), minmax(0, 1fr));
  gap: var(--gap);
  margin-top: var(--gap);
}

.collection-card {
  --rounded: 35px;
  --clr-bg: transparent;
  --clr-text: var(--clr-black, #000000);
  --ratio: 1/1.5;

  color: var(--clr-text, inherit);
  background-color: var(--clr-bg);
}
.collection-card__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.collection-card a {
  text-decoration: none;
  color: inherit;
}
.collection-card__image {
  border-radius: var(--rounded);
  overflow: hidden;
  aspect-ratio: var(--ratio);
  width: 100%;
  position: relative;
  transition: outline-color var(--transition);
  outline: 2px solid transparent;
}
.collection-card:hover .collection-card__image {
  outline-color: var(--clr-text);
}
.collection-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.collection-card__image .hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity var(--transition);
  z-index: 2;
}
.collection-card:hover .hover-image {
  opacity: 1;
}
.collection-card__content {
  margin-top: 0.9375rem;
  font-size: 1.125rem;
  line-height: 1.5;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 0.625rem;
  font-size: 1rem;
  line-height: normal;
}
.collection-card__content .title {
  font-weight: bold;
}
.collection-card__content .price {
  font-weight: 500;
}
/* end::collections */

/* start::footer */
.main-footer {
  background-color: var(--footer-clr-bg, #c7b9ff);
  color: var(--footer-clr-text, #000000);
  overflow: hidden;
}

.main-footer a {
  text-decoration: none;
  line-height: 1.88;
  color: inherit;
  transition: opacity var(--transition);
  display: inline-block;
}
.main-footer a:hover {
  text-decoration: underline;
}
.main-footer a:active {
  opacity: 0.6;
}

.main-footer .main-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-block: 2.5rem;
}

.main-footer .footer-links {
  list-style-type: none;
  margin: 0 0 1rem;
  display: block;
  padding: 0;
}
.main-footer .footer-links a {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.main-footer .footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-footer .footer-content__upper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.75rem;
}
.main-footer .footer-heading {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  letter-spacing: 2px;
  margin-block: 1rem;
}
.main-footer .footer-social {
  margin-top: auto;
}
.main-footer .footer-social a {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem 0;
  margin-inline-end: 0.35rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: normal;
}
.main-footer .footer-social a:not(:last-child):after {
  content: "";
  --size: 5px;
  width: var(--size);
  min-width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  background-color: var(--footer-clr-text, #000000);
  display: inline-block;
  vertical-align: middle;
}

.main-footer .footer-ticker {
  --tape-start-timer: 15s;

  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1.375rem;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  pointer-events: none;
}
.main-footer .footer-ticker .tape {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  animation: marquee var(--tape-start-timer) 0s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.main-footer .footer-ticker .shape {
  color: var(--clr-white, #fff);
  margin-inline: 0.5rem;
}

@media (min-width: 48em) {
  .search-header .form-control {
    padding: 0.75rem 1.875rem;
    font-size: 2rem;
    padding-inline: 1.25rem;
  }
  .navbar__actions .btn .cart-count {
    --size: unset;
    position: static;
    background-color: transparent;
    color: inherit;
    /* font-size: inherit; */
  }
  .hero__box-content {
    padding: 0.75rem 1.5rem;
    font-size: 1.625rem;
  }
  .navbar .btn.has-arrow:after {
    display: block;
  }
  .navbar .btn,
  .sidemenu .btn {
    gap: 0.625rem;
    padding-inline: 1.25rem;
  }
  .navbar .btn svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .navbar {
    padding-block: 1.375rem;
  }
  .collections {
    padding-block: 5rem;
  }
  .collections__heading {
    font-size: 3.25rem;
    margin-bottom: 8rem;
    max-width: 25ch;
    line-height: 1;
  }
  .main-footer .main-header__wrapper {
    padding-block: 3.75rem;
    flex-direction: row;
    align-items: stretch;
  }
  .collections__row {
    --gap: 2.125rem;
    --repeat: 4;
  }
  .collections__row.featured > *:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .collections__row.featured > *:nth-child(1) .collection-card__content {
    /* margin-top: 1.625rem; */
    margin-top: auto;
  }
  .collections__row.featured > *:nth-child(4) {
    --ratio: 1.5/1;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .main-footer .footer-graphic {
    margin-inline-end: 4rem;
  }
  .main-footer .footer-heading {
    font-size: 2rem;
    /* max-width: 10ch; */
  }
  .main-footer .footer-social a {
    font-size: 1.25rem;
    padding: 1rem 0;
  }
  .main-footer .footer-social a:after {
    margin-inline: 0.35rem;
  }
  .main-footer .footer-content__upper {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.75rem;
  }
  .main-footer .footer-links {
    margin: 0 0 1rem;
    margin-inline-start: auto;
  }
  .main-footer .footer-ticker {
    font-size: 1.625rem;
  }
  .main-footer .footer-heading {
    font-size: 2.25rem;
    margin-top: 0;
  }
  .main-footer .footer-social {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 64em) {
  .search-header .form-control {
    padding-inline: 5%;
  }
  .collections__heading {
    font-size: 3.75rem;
  }
  .main-footer .footer-social a {
    font-size: 1.5rem;
  }
  .main-footer .footer-social a:after {
    margin-inline: 0.625rem;
  }
  .collections {
    padding-block: 6.25rem;
  }
  .collection-card__content {
    font-size: 1.375rem;
  }
}
/* end::footer */
